flask
flask-script
flask-login
redis
requests==2.0.0
pymongo==2.7.1
shortuuid==0.4.2
paste
gunicorn
-e git+https://github.com/colevscode/quickdata.git#egg=quickdata
-e git+https://github.com/colevscode/quickkvs.git#egg=quickkvs
-e git+https://github.com/colevscode/gspread.git#egg=gspread
-e git+https://github.com/colevscode/requests-oauth2.git#egg=requests-oauth2
